.spinning {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.form-error-message {
  color: red;
  font-size: 14px;
  display: block;
  text-align: left;
  padding: 6px 4px;
  font-weight: 500;
}

.field-error {
  border: 1px solid red !important;
}

.cursor-pointer {
  cursor: pointer;
}

#logo img {
  width: 100%;
  max-width: 150px;
  height: auto;
}